---
layout: categories
permalink: /categories/
title: Tags
search_exclude: true
---

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/assets/images/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Terra Planta">
  <meta name="application-name" content="Terra Planta">
  <meta name="msapplication-TileColor" content="#00a300">
  <meta name="msapplication-TileImage" content="/assets/images/mstile-144x144.png">
  <meta name="msapplication-config" content="/assets/images/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">
</head>


{% if site.categories.size > 0 %}
<h2>Contents</h2>

  {% assign categories = "" | split:"" %}
  {% for c in site.categories %}
    {% assign categories = categories | push: c[0] %}
  {% endfor %}
  {% assign categories = categories | sort_natural %}

  <ul>
  {% for category in categories %}
    <li><a href="#{{ category }}">{{ category }}</a></li>
  {% endfor %}
  </ul>

  {% for category in categories %}
      <h3 id ="{{ category }}"><i class="fas fa-tags category-tags-icon"></i></i> {{ category }}</h3>
      <a name="{{ category | slugize }}"></a>
      {% for post in site.categories[category] %}
        {% if post.hide != true %}
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <article class="archive-item">
          <p class="post-meta post-meta-title"><a class="page-meta" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>  • {{ post.date | date: date_format }}</p>
        </article>
        {% endif %}
      {% endfor %}
  {% endfor %}

{% endif %}

<body>
  <body oncontextmenu="return false;">
  <h1>How to disable downloading of the PDF document</h1>
  <iframe src="https://Cynism.github.io/terraplanta/assets/pdf/Multifichier.pdf#toolbar=0" width="100%" height="500px">
  </iframe>
</body>
